<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Device Based Human Verification</title>
 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="/stylesheets/style.css">
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  

</head>
<body>
<div class="row">
<div class="col-md-6 col-md-offset-3">

  <h1>Device Based Human Verification</h1>
  <p>Sign up for an account!</p>
  <form action="/demo/createaccount" id="signupForm" name="signupForm" method="post">

    <input style="display:none" type="text" url="https://gotdevices.herokuapp.com/api/devicecheck" value=<%= token %> id="trustwareInfo" name="trustwareInfo">

    <div>
      Email: <input type="text" name="email" placeholder=<%= token %>>
      Password: <input type="password">
      <input type="submit"  value="Sign up!" onclick="$('#loading').show(); $('#signupForm').hide();"/>
    </div>

  </form>

  <div id="loading" style="display:none;"><img src="/images/loading.gif" alt="" />Verifying devices please wait!</div>


</body>
</html>